:root {
    --oscuro: #0C120C;
    --claro: #E8FCCF;
    --verde: #96E072;
    --rosa: #FCBCB8;
    --medio: #517664;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
  font-family: 'Lobster', cursive;
  color: var(--claro);
  background-color: var(--oscuro);
}


img {
  display: flex;
  flex-direction: row;
  width: 20%;
}


.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

.nav-principal {
  display: flex;
  flex-direction: column;
  background-color: var(--medio);
  padding: 1rem;
}
@media (min-width: 768px) {
    .nav-principal {
      flex-direction: row;
      justify-content: space-evenly;
    }
}

.nav-principal a {
  display: block;
  color: var(--claro);
  font-size: 3rem;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}
.nav-principal a:hover {
  background-color: var(--rosa);
  color: var(--medio);
}

h1, h2, p, footer {
  text-align: center;
}

h1, h2 {
  text-decoration: underline;
}
h1 {
  font-size: 5rem;
}

h2 a {
  font-size: 3.8rem;
}

p {
  font-size: 2.5rem;
}

ul {
  text-align: start;
  font-size: 3rem;
}

.ingredientes {
  background-color: var(--rosa);
  color: var(--medio);
}

ol {
  text-align: center;
  font-size: 3rem;
}
.btn-wsp {
  position: fixed;
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  bottom: 3rem;
  right: 3rem;
  background-color: #0df053;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

footer{
  font-size: 2rem;
  background-color: var(--verde);
  color: var(--oscuro);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

